.page-menu {
    grid-area: none;
    display: none;
}

.tsd-hierarchy {
    display: none;
}

.tsd-index-group {
    display: none;
}

li > .tsd-parameters {
    border: 1px solid gray;
    padding-bottom: 5px;
}

li.tsd-description > .tsd-parameters {
    border: none;
}

.tsd-is-inherited {
    display: none;
}

.tsd-returns-title {
    display: none;
}