.page-menu {
    grid-area: none;
    display: none;
}

.tsd-hierarchy {
    display: none;
}

.tsd-index-group {
    display: none;
}

.tsd-parameter {
    display: none;
}

.tsd-is-inherited {
    display: none;
}

.tsd-returns-title {
    display: none;
}